<h1>Robots</h1>

<%= link_to 'New Robot', new_robot_path, class: 'btn btn-primary new_robot shadow-none' %>

<button type="button" class="btn btn-secondary shadow-none" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="Create robots and assign them tasks via the New Robot button. Thereafter, you can run tasks and view a progress bar and durations. The log will populate as tasks are completed. You can have multiple robots perform tasks simultaneously.">Info</button>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Appendage Count</th>
      <th>Task Count</th>
      <th>Tasks Duration in Seconds</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @robots.order(:id).each do |robot| %>
      <tr>
        <td><%= robot.name %></td>
        <td><%= robot.kind.humanize %></td>
        <td><%= robot.appendages %></td>
        <td><%= robot.tasks.count %></td>
        <td><%= robot.tasks_duration&.fdiv(1000)&.to_s&.sub(/\.?0+$/, '') %></td>
        <td>
          <%= link_to 'Edit', edit_robot_path(robot), class: 'btn btn-outline-primary shadow-none' %>
          <% disabled = robot.tasks.empty? ? 'disabled' : '' %>
          <%= link_to 'Run Tasks', '#', class: "run_tasks btn btn-outline-success shadow-none #{disabled}", data: { robot_id: robot.id }, role: 'button' %>
          <%= link_to 'Destroy', robot, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger shadow-none' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% @robots.order(:id).each do |robot| %>
  <% next if robot.tasks.empty? %>
  <div class='task_log'>
    <div class='log_robot_name'><%= robot.name %></div>
    <div class='progress_bar' data-robot-id=<%= robot.id %>></div>
    <div class='timer' data-robot-id=<%= robot.id %>>0</div>
    <div class='log' data-robot-id=<%= robot.id %>></div>
  </div>
<% end %>

