<!DOCTYPE html>
<html>
  <head>
    <title>BotOMatShaynarang</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'robot', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'task', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div id='content'>
      <% if notice %>
        <p class='notice text-success'><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class='alert text-danger'><%= alert %></p>
      <% end %>
      <%= yield %>
    </span>
  </body>
</html>
